* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background-color: #1e0555;
}

body,
.quote-input {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
	background-color: #f0db4f;
	padding: 1rem;
	border-radius: 0.5rem;
	width: 700px;
	max-width: 90%;
	font-size: 1.5rem;
}

.container textarea {
	font-size: 1.5rem;
}

.timer {
	position: absolute;
	top: 2rem;
	font-size: 3rem;
	color: #f0db4f;
	font-weight: bold;
}

.quote-display {
	margin-bottom: 1rem;
	margin-left: calc(1rem + 2px);
	margin-right: calc(1rem + 2px);
}

.quote-input {
	background-color: transparent;
	border: 2px solid #a1922e;
	outline: none;
	width: 100%;
	height: 8rem;
	margin: auto;
	resize: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.5rem;
}

.quote-input:focus {
	border-color: black;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
	text-decoration: underline;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden {
	display: none;
}

.quote-btn {
	background-color: #e7cd23;
	border: none;
	color: white;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 0.5rem;
	transition: background-color 0.3s ease;
}

.quote-btn:hover {
	background-color: #a1922e;
	cursor: pointer;
}
.quote-result {
	margin-left: calc(1rem + 2px);
}
